<launch>
    <rosparam file="$(find industrial_calibration_ros)/config/collection_config.yaml" />
    <param name="target_detector_config_path" type="str" value="$(find industrial_calibration_ros)/config/target_detector_config.yaml"/>
    
    <node name="data_collection_node" pkg="industrial_calibration_ros" type="data_collection_node.py" output="screen"/>
    <node name="target_detector_node" pkg="industrial_calibration_ros" type="industrial_calibration_ros_target_detector" output="screen"/>
</launch>